@page {margin: 0;}
 *,
 *::after,
 *::before {
 box-sizing: border-box;
 }


body {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 1500px 925px;
 
    background-image: url(assets/images/winter-background-2.jpg);
    /* background-image: url(assets/images/summer-background-5.jpg); */
}

    .container-non-materialize {
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: 20%;
        margin-right: 20%;
        background-color: white;
        color: #285570;
        width: 60vw;
        height: 650px;
        border: solid white;
        border-width: 7px 7px 7px 7px;
        border-radius: 42px;
        box-shadow: 0px 0px 25px 0px white;
        /* display: none; */
    }

    #container-time-planner {
        margin-top: 300px;
        margin-bottom: 50px;
        margin-left: 25%;
        margin-right: 25%;
        text-align: center;
        background-color: white;
        color: #285570;
        width: 50vw;
        height: 200px;
        border: solid white;
        border-width: 7px 7px 7px 7px;
        border-radius: 42px;
        box-shadow: 0px 0px 25px 0px white;
        /* visibility: visible; */
        display: none;
    }

        #profile-image {
            height: 200px;
            width: 200px;
            border-width: 7px 7px 7px 7px;
            border-radius: 100px;
            margin-bottom: -30px;
            box-shadow: 0px 0px 20px 0px #285570, 0px 0px 50px 0px #285570;
        }

        .about-me {
            color: #285570;
            font-weight: bold;
        }

            #bio-text {
                overflow: auto; /*fix dis shit */
                /* background-color: rgb(7, 0, 55); */
            }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .col {
            flex: 1;
            text-align: center;
        }

    .links {
        text-align: center;
        margin-top: 70px;

        /* display: none; */
      }
  
      .link {
        display: inline-block;

        background-color: white;
        color: #285570;
        font-weight: bold;
        font-size: 20px;

        padding: 5px;
        margin-top: 0;
        margin-left: 1vw;
        margin-right: 1vw;

        border: solid white;
        border-width: 7px 7px 7px 7px;
        border-radius: 42px;
        box-shadow: 0px 0px 25px 0px white;
      }

        .link:hover {

            display: inline-block;

            background-color: #285570;
            color: white;
            font-weight: bold;
            font-size: 20px;
    
            padding: 5px;
            margin-top: 0;
            margin-left: 1vw;
            margin-right: 1vw;
    
            border: solid #285570;
            border-width: 7px 7px 7px 7px;
            border-radius: 42px;
            box-shadow: 0px 0px 25px 0px #285570;
        }
      

      .carousel {
          margin-top: -70px;
      }

            .item {
                border-radius: 42px;
                color: white;
                font-weight: bold;
                font-size: 15px;
                padding: 10px;
                margin-top: 0;
            }

                #nomster {
                    background-color: #7467ad;
                    border: solid #7467ad;
                    color: #77dfff;
                    font-size: 20px;
                    -webkit-text-stroke: 1px rgb(7, 0, 55);
                    font-family: 'Nosifer', cursive;
                    box-shadow: 0px 0px 25px 0px #7467ad;
                }

                    #nomster:hover {
                        color: rgb(255, 0, 42);
                        -webkit-text-stroke: 1px rgb(142, 0, 0);
                        padding: 7px;
                        border: solid rgb(7, 0, 55);
                        border-width: 5px 5px 5px 5px;
                        box-shadow: 0px 0px 25px 0px rgb(142, 0, 0);
                    }

                #day-planner {
                    background-color: rgb(7, 0, 55);
                    border: solid rgb(7, 0, 55);
                    color: #8bc6f2;
                    font-size: 17px;
                    box-shadow: 0px 0px 25px 0px rgb(7, 0, 55);
                }

                    #day-planner:hover {
                        background-color: #3a6585;
                        color: white;
                        border: solid #3a6585;
                        box-shadow: 0px 0px 25px 0px #3a6585;
                    }

                #password-generator {
                    background-color: #3b3829;
                    border: solid #3b3829;
                    box-shadow: 0px 0px 25px 0px #3b3829;
                }

                    #password-generator:hover {
                        background-color: #f2e8cd;
                        color: #3b3829;
                        border: solid #007bff;
                        border-width: 5px 5px 5px 5px;
                        padding: 7px;
                        box-shadow: 0px 0px 25px 0px #007bff;
                    } 

                #code-quiz {
                    background-color: red;
                    border: solid red;
                    color: white;
                    font-size: 17px;
                    box-shadow: 0px 0px 25px 0px red;
                }

                    #code-quiz:hover {
                        background-color: green;
                        border: solid green;
                        box-shadow: 0px 0px 25px 0px green;
                    }

                #weather-dashboard {
                    background-color: rgb(7, 0, 55);
                    border: solid rgb(7, 0, 55);
                    color: #8bc6f2;
                    box-shadow: 0px 0px 25px 0px rgb(7, 0, 55);
                }

                    #weather-dashboard:hover {
                        background-color: #8bc6f2;
                        color: rgb(7, 0, 55);
                        border: solid rgb(7, 0, 55);
                        border-width: 5px 5px 5px 5px;
                        padding: 7px;
                        box-shadow: 0px 0px 25px 0px rgb(7, 0, 55);
                    }